/* the window border colour #00B300 */
@define-color border_color #6cb6ff;
@define-color stickynote_color #F3C000;
/*
.window-frame, .window-frame:backdrop {
 box-shadow: 0 0 0 black;
 border-style: none;
 margin: 0;
 border-radius: 0;
}

.titlebar {
 border-radius: 0;
}

.window-frame.csd.popup {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.13);
}

.header-bar {
  background-image: none;
  box-shadow: none;
}*/

/* the panel */
.mywindow {
  border-bottom-width: 2px;
  border-color: @border_color;
  border-style: solid;
}


/* taskbar buttons - type togglebutton */ 
/* .mywindow #btn-taskbar:checked {
  background-color: yellow;
}*/

/* tasklist */
/* #tasklist {
  background-color: red;
  border: 1px solid black;
}*/

#tasklist button:hover,
#tasklist button:checked {
  box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.7) inset;
  border: 1px solid #555555;
  border-radius: 10px 10px 10px 10px;
}

#btn-taskbar { 
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

/* the menu window */
.menuwin { 
  border-radius: 10px 10px 10px 10px;
  border-width: 2px;
  border-color: @border_color;
  border-style: solid;
}

.menuwin button {
  border-radius: 6px;
  border: solid;
  border-width: 1px;
  border-color: #7F7F7F;
  margin: 2px;
}

/* the shutdown/reboot/logout dialog */
.commandwin { 
  border-radius: 10px 10px 10px 10px;
  border-width: 2px;
  border-color: @border_color;
  border-style: solid;
}

.commandwin button {
  border-radius: 6px;
  border: solid;
  border-width: 1px;
  border-color: #7F7F7F;
  margin: 2px;
}

/* the clipboard window */
.clipboardwin { 
  border-radius: 10px 10px 10px 10px;
  border-width: 2px;
  border-color: @border_color;
  border-style: solid;
}

.clipboardwin button {
  border-radius: 6px;
  border: solid;
  border-width: 1px;
  border-color: #7F7F7F;
  margin: 2px;
}

.clipboardwin #cliprow {
  border-radius: 6px;
  border: solid;
  border-width: 1px;
  border-color: #7F7F7F;
  margin: 2px;
}

/* the service window */
.servicewin { 
  border-radius: 10px 10px 10px 10px;
  border-width: 2px;
  border-color: @border_color;
  border-style: solid;
}
.servicewin button {
  border-radius: 6px;
  border: solid;
  border-width: 1px;
  border-color: #7F7F7F;
  margin: 2px;
}

.servicewin #notrow {
  border-radius: 6px;
  border: solid;
  border-width: 1px;
  border-color: #7F7F7F;
  margin: 2px;
}

/* the notification window */
.notificationwin { 
  border-radius: 10px 10px 10px 10px;
  border-width: 2px;
  border-color: @border_color;
  border-style: solid;
}

.notificationwin button ~#closebtn {
  border-radius: 6px;
  border: solid;
  border-width: 1px;
  border-color: #7F7F7F;
  margin: 2px;
}

/* the volume meter */
/*
.vollevelbar trough, progress {
  background-color: white;
}*/

/* the output command left label */
/*
.label1 {
}*/

/* the output command center label */
/*
.label2 {
}*/

/* the clock label */
.clocklabel {
  font-family: DIGITALDREAMFAT;
  font-size: 21px;
  color: black;
}

/* the timer win */
.timerwin button {
  border-radius: 6px;
  border: solid;
  border-width: 1px;
  border-color: #7F7F7F;
  margin: 2px;
}

/* the note window */
.notewin * {
  background-color: @stickynote_color;
}

.notewin button {
  border-radius: 6px;
  border: solid;
  border-width: 1px;
  border-color: #7F7F7F;
  margin: 2px;
}

/*
.notewin textview text {
  color: black;
}*/
