/* the window border colour */
@define-color border_color #0000B3;
@define-color stickynote_color #F3C000;

* {

}

/* the panel */
#mywindow {
  border-radius: 0px 0px 0px 0px;
}

/*
* button {
  border: 0px;
}*/

/* the expander arrow size */
/*expander {
  min-width: 48px;
  min-height: 48px;
}*/

/**/
#tasklist {

}

#tasklist button:hover,
#tasklist button:checked {
  box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.7) inset;
  border: 1px solid #555555;
  border-radius: 10px 10px 10px 10px;
}

/* the taskbar buttons */
#btn-taskbar {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

/* left - center - right box */
/*#mybox {
}*/

/* the clock */
#clocklabel {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: DIGITALDREAMFAT;
  /*font-size: 21px;*/
}

#label1button {
  background-color: transparent;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#label2button {
  background-color: transparent;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

/* .menuwin flowbox flowboxchild:hover box { */
#menuwin flowbox flowboxchild:hover label {
  border: 2px solid #484848;
  border-radius: 8px;
  margin: -2px;
}

/* menu flowbox */
/*#"mymenuflowbox" {
}*/

/* menu list view */
/*#mymenulistview {
}*/

/*popover * {
  background: #cecece;
}*/

/* grid widget */
/*grid {
  background:#E0E0E0;
}*/

#menubutton, #otherbutton {
  background-color: transparent;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#clipboardbutton {
  background-color: transparent;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

/* each tray button */
#traybutton {
  background-color: transparent;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

/* the menu of each tray button */
/*#popovertraymenu {

}*/

/* the volume widget */
#vollevelbar {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

/* #vollevelbar trough */
/* #vollevelbar trough highlight */
/*#vollevelbar slider {
  background: #00000000;
  min-height: 20px;
}*/

/*#vollevelbar trough, progress {
  background-color: white;
}*/

/* the menu window */
#menuwin {
  border-radius: 10px 10px 10px 10px;
  border-width: 1px;
  border-color: @border_color;
  border-style: solid;
}

#menuwin button {
  border-radius: 6px;
  border: solid;
  border-width: 1px;
  /* border-color: #7F7F7F;*/
  margin: 2px;
  /*font-size: 24px;*/
}

/* the clipboard window */
#clipboardwin {
  /*background-color: #cecece;*/
  border-radius: 10px 10px 10px 10px;
  border-width: 1px;
  border-color: @border_color;
  border-style: solid;
}

#clipboardwin button {
  border-radius: 6px;
  border: solid;
  border-width: 1px;
  border-color: #7F7F7F;
  margin: 2px;
  /*font-size: 24px;*/
}

/* each row in the clipboard list */
#clipboardwin #cliprow {
  border-radius: 6px;
  border: solid;
  border-width: 1px;
  border-color: #7F7F7F;
  margin: 2px;
  /*font-size: 24px;*/
}

/* each row in the clipboard list */
/*#cliprow {

}*/


/* the shutdown reboot etc. window */
#commandwin {
  border-radius: 10px 10px 10px 10px;
  border-width: 1px;
  border-color: @border_color;
  border-style: solid;
}

#commandwin button {
  border-radius: 6px;
  border: solid;
  border-width: 1px;
  /*border-color: #7F7F7F;*/
  margin: 2px;
  /*font-size: 24px;*/
}

/* the shutdown reboot etc. buttons */
#menuservicebutton {
  
}

/* the service window */
#servicewin {
  border-radius: 10px 10px 10px 10px;
  border-width: 1px;
  /*border-color: @border_color;*/
  border-style: solid;
}

#servicewin button {
  border-radius: 6px;
  border: solid;
  border-width: 1px;
  /*border-color: #7F7F7F;*/
  margin: 2px;
}

/* each row in the notification list */
#notrow {
  border-radius: 6px;
  border: solid;
  border-width: 1px;
  /*border-color: #7F7F7F;*/
  margin: 2px;
}

/* notifications in the list - mouse over custom colours */
#notrow > *:hover {
  background-color: #eeeeee;
  color: #000000;
  border-width: 0px;
}

/* the notification list */
#notlist {

}

/* the body label in the notification */
/*#mynotbodylbl link {

}*/

/* the notification window */
#notificationwin {
  background-color: #cecece;
  border-radius: 10px 10px 10px 10px;
  border-width: 1px;
  /*border-color: @border_color;*/
  border-style: solid;
}

#notificationwin button ~#closebtn {
  border-radius: 6px;
  border: solid;
  border-width: 1px;
  /*border-color: #7F7F7F;*/
  margin: 2px;
}

/* the configurator window */
#configuratorwin {
  border-radius: 10px 10px 10px 10px;
  border-width: 2px;
  /*border-color: @border_color;*/
  border-style: solid;
}

/* the category buttons in the menu window */
#mybutton {

}

/* the note window */
#notewin textview {
  background-color: @stickynote_color;
  /*font-size: 24px;*/
  margin: 0px;
}

#notewin button {
  border-radius: 6px;
  border: solid;
  border-width: 1px;
  border-color: #7F7F7F;
  margin: 0px;
  /*font-size: 24px;*/
  background: @stickynote_color;
}

/*
#notewin textview text {
  color: black;
  font-size: 24px;
}*/

#mysearchentry {

}

#yndialog {
  border-radius: 10px 10px 10px 10px;
  border-width: 0px;
  border-color: @border_color;
  border-style: solid;
}